*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.brain
{
    border: 3px solid black;
    position: fixed;
    width: 100%;
    background-color: #fff; 
}
.brain img
{
    width: 30px;
    height: 25px;
}
.brain ul
{
    display: inline-flex;
    margin-left: 20px;
}
.brain h2
{
    display: inline;
}
.brain ul li
{
    margin-right: 15px;
    list-style: none;
}
.brain ul li a
{
    color: black;
    font-family: 'Bitter', serif;
}
.brain .search
{
    display: inline;
    float: right;
    line-height: 37px;
}
.slider .side ul li a
{
    color:black;
    padding: 5px;
    font-size: 20px;
}
.slider .side ul 
{
    line-height: 30px;    

}
.slider .icons
{
    padding: 5px;
    font-size: 20px;
}
.slider
{
    position: fixed;
    margin-top:37px;
    width: 18%;
    height: 100vh;
    border: 1px solid black;
    background-color: white;
    overflow-y: scroll;
}
.slider h2
{
    padding: 10px;
    text-decoration: underline;
}
.slider .side ul li 
{
    border-bottom: 3px solid #000;
    transition: 1s;
}
.slider .side ul li:hover 
{
    border-left: 5px solid #000;
}
.slider .side .icons
{
    color: black;
    font-size: 17px;
    display: block;
    height: 100%;
    border-bottom: 3px solid #000;
    transition: 1s;
}
.slider .side
{
    height: 100%;
}
.slider .side .icons:hover
{
    border-left: 5px solid #000;
}
footer a
{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    float: right;
    padding: 5px;
}
i
{
    transition: 1s;
}
i:hover
{
    color:red;
}
.land h1
{
    text-align: center;
    background-color: transparent;
    border: 10px double black;
}
.land
{
    padding: auto;
    float: right;
}
.box p
{
    height:75px;
    padding: 7px;
}
.box a
{
    color:black;
    margin-left: 100px;
    background-color: #fff;
}
.box h3
{
    text-align: center;
    border: 3px solid black;
}
.land .man
{
    width: 300px;
    height: 100%;
    background-color: #fff;
    border: 5px solid black;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}
.man a
{
    color:black;
    background-color: #fff;
    margin-left: 100px;
}
.man p
{
    height:75px;
    padding: 7px;
    background-color: #fff;
}
.man h3
{
    text-align: center;
    background-color: #fff;
    border: 3px solid black;
}
.land .man img
{
    width: 100%;
    height: 250px;
}
.land
{
    float: right;
    width: 82%;
}